<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de Tareas</title>
</head>
<body>
    <h1>Crea Tarea</h1>
    <form action="/" method="POST">
        {% csrf_token %} 
        <label for="nombre">Nombre de la tarea:</label>
        <input type="text" name="nombre" id="nombre" value="{{ tarea.nombre }}" class="form-control">
        <label for="nombre">Descripcion de la tarea:</label>
        <textarea name="descripcion" id="descripcion" class="form-control">{{ tarea.descripcion }}</textarea>
        <input type="submit" class="btn" value="Crear Tarea">
    </form>
    <h1>Lista de Tareas</h1>
    <ul>
        {% for tarea in tareas %}
            <li>
                <p>Nombre: {{ tarea.nombre }}</p>
                <p>Descripción: {{ tarea.descripcion }}</p>
                <p>Estado: {% if tarea.completado %}Completado ✅{% else %}Pendiente ❌{% endif %}</p>
                <a href="{% url 'editar' tarea.id %}">Editar</a>
            </li>
        {% endfor %}
    </ul>
   
   
</body>
</html>